* {
    margin: 0;
    box-sizing: border-box;
  }


body {
    font-family: "Prompt", sans-serif;
}

nav {
    font-family: "Oswald", sans-serif;
}

nav li::before {
    content: '';
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    width: 4px;
    opacity: 0;
    height: 2px;
    pointer-events: none;
    border-radius: 4px;
    transition: .2s ease-in-out;
    background: black;
    transition-duration: 300ms;
}

nav li:hover::before {
    opacity: 1;
    width: 100%;
}

.slick-dots {
    margin-top: -36px!important;
    bottom: 0px;
}

.slick-dots li{
    width: 12px;
}

.slick-dots li button:before {
    font-size: 12px;
    line-height: 0px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}